.idea
*.pyc
dist
bin
*.egg-info
Virtualenv
build
venv
.ipynb_checkpoints
profile.json
profile.json.*
profile-a*.json*
account-data.json

config.yaml
config_azure.yaml
config_local.yaml

walkingpad-env/*
env
.env
api\config\__pycache__\
api\controllers\__pycache__\targets.cpython-310.pyc
api\controllers\__pycache__\exercise.cpython-310.pyc
api\controllers\__pycache__\device.cpython-310.pyc
api\models\__pycache__\target.cpython-310.pyc
api\models\__pycache__\exercise.cpython-310.pyc
api\services\__pycache__\targets.cpython-310.pyc
api\services\__pycache__\settings.cpython-310.pyc
api\services\__pycache__\exercise.cpython-310.pyc
api\services\__pycache__\device.cpython-310.pyc
api\utils\__pycache__\helpers.cpython-310.pyc
old
old\stop.py
old\restserver.py
old\Readme-spec.md
__pycache__